<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="false"
    processIsolation="false"
    stopOnFailure="false"
    testdox="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="WC Payment Monitor Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
